

@media (max-width:480px){
    .form-conatiner-adress-add-new{
   border-radius: 10px;
   background: #ffffff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
   height: 440px; 
   width: 380px;  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px;
  
}

.form-row-adress{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input-add-adress{
    height: 20px;
    width: 200px;
}

.label-input-adress{
    color: #263238;
    font-size: 18px;
    font-family: Roboto;
}

.edit-adress-form-btn{
    background-color: #E65100;
    height: 35px;
    width: 90px;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    margin: 10px;
}

.error-form-edit{
    color: #E65100;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.api-details-form-edit{
    color: green;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.editing-editing-address{
    color: #37474F;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}

.given-details-adress-new{
    color: #37474F;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.adding-address-new{
    color: #37474F;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}
}

@media (min-width:1024px){
    .form-conatiner-adress-add-new{
    max-width: 400px;
   margin: 60px auto;
   padding: 24px;
   border-radius: 10px;
   background: #ffffff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
   height: 420px; 
   width: 380px;  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}

.form-row-adress{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-add-adress{
    height: 30px;
    width: 200px;
}

.label-input-adress{
    color: #263238;
    font-size: 18px;
    font-family: Roboto;
}

.edit-adress-form-btn{
    background-color: #E65100;
    height: 35px;
    width: 95px;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    margin: 10px;
}

.error-form-edit{
    color: #E65100;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.api-details-form-edit{
    color: green;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.editing-editing-address{
    color: #37474F;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}

.given-details-adress-new{
    color: #37474F;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.adding-address-new{
    color: #37474F;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}

}